certifi==2025.1.31
charset-normalizer==3.4.1
defusedxml==0.7.1
deprecation==2.1.0
httplib2==0.22.0
idna==3.10
packaging==24.2
pyparsing==3.2.1
pysocks==1.7.1
requests==2.32.3
solnlib==6.1.0
sortedcontainers==2.4.0
splunk-sdk==2.1.0
splunktaucclib==7.0.0
urllib3==1.26.20
