---
name: "Package Splunk App"

"on":
  push:
    branches:
      - main  # Set a branch to deploy
  pull_request:
    branches:
      - main

jobs:
  package:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: write

    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0    # Fetch all history for .GitInfo and .Lastmod
      - name: Set up Python 3.9
        uses: actions/setup-python@v6
        with:
          python-version: '3.9'
      - name: Package the app
        run: |
          python -m pip install uv
          ./ucc-build.sh

      - name: Upload packaged app artifact
        uses: actions/upload-artifact@v7
        with:
          name: TA-pushover-spl
          path: TA-pushover.spl
          if-no-files-found: error

      - uses: "marvinpinto/action-automatic-releases@latest"
        with:
          repo_token: "${{ secrets.GITHUB_TOKEN }}"
          automatic_release_tag: "latest"
          prerelease: true
          title: "Latest Build"
          files: |
            TA-pushover.spl
        if: ${{ github.event_name != 'pull_request' && (github.ref_type == 'tag' || github.ref == 'refs/heads/main') }}
